* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

html,
body {
  height: 100%;
  width: 100%;
  color: #fff;
}

::selection {
  color: #000;
  background-color: #fff;
}

body::-webkit-scrollbar {
  display: block;
  width: 8px;
  background-color: #000;
}

body::-webkit-scrollbar-thumb {
  background-color:#a3d421;
  border-radius: 50px;
}

#nav {
  height: 6rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 120px;
  gap: 40px;
  position: fixed;
  z-index: 99;
  /* background-color: black; */
}

#cursor {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #91b508;
  position: fixed;
  z-index: 99;
}

#cursor-blur {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: #96c11e3c;
  position: fixed;
  z-index: 99;
  filter: blur(30px);
  z-index: 9;
}

#nav img {
  height: 40px;
}

#nav h4 {
  text-transform: uppercase;
  font-size: 18px;
}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}

#main {
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
}

#page1 {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 10;
}

#page1 h1 {
  font-size: 8rem;
  font-weight: 900;
  position: relative;
}

#page1 h1::before {
  content: "EAT.DRINK.PLAY.";
  position: absolute;
  color: #000;
  left: -5px;
  top: -5px;
  -webkit-text-stroke: 2px greenyellow;
  z-index: -1;
}

#page1 h2 {
  font-size: 3rem;
  font-weight: 900;
}

#page1 p {
  font-size: 1rem;
  width: 40%;
}

#arrow {
  height: 150px;
  width: 150px;
  background-color:transparent;
  border: 1px solid #c9ff33;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  left: -2%;
  bottom: -2%;
  transition: all ease 0.5s;
}

#arrow:hover {
  scale: 0.7;
  background-color: #91b508;
}

#arrow i {
  font-size: 50px;
}

/* ---------------------------Page 2------------------------------- */

#page2 {
  min-height: 100vh;
  width: 100%;
  z-index: 10;
}

#scroller h4 {
  text-transform: uppercase;
}

#scroller {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  z-index: 10;
}

#scroller::-webkit-scrollbar {
  display: none;
}

#scroller-one {
  display: inline-block;
  white-space: nowrap;
  animation-name: scroll;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#scroller h4 {
  font-size: 100px;
  display: inline-block;
  margin-right: 10px;
  -webkit-text-stroke: 1px white;
  color: transparent;
  transition: all linear 0.2s;
  color: black;
}

#scroller h4:hover {
  color: greenyellow;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

#about-us {
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0 50px;
  align-items: center;
  margin-top: 2rem;
  position: relative;
  z-index: 10;
}

#about-us img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 10px;
}

#about-in {
  text-align: center;
  width: 45%;
}

#about-in h3 {
  font-size: 40px;
  margin-bottom: 17px;
}

#about-in p {
  font-size: 20px;
  font-family: sans-serif;
  line-height: 1.5;
}

#card-container {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  position: relative;
  z-index: 10;
}

.card {
  height: 80%;
  width: 25%;
  background-color: blue;
  border-radius: 13px;
  overflow: hidden;
  transition: all ease 0.3s;
}

#card1 {
  background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer.jpg?strip=all&lossy=1&sharp=1&ssl=1);
  background-size: cover;
  background-position: center;
}

#card2 {
  background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4.jpg?strip=all&lossy=1&sharp=1&ssl=1);
  background-size: cover;
  background-position: center;
}

#card3 {
  background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons.jpg?strip=all&lossy=1&sharp=1&ssl=1);
  background-size: cover;
  background-position: center;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: #91b508;
  padding: 20px;
  border-radius: 13px;
  opacity: 0;
  transition: all ease 0.3s;
}

.overlay h4 {
  color: #000;
  font-size: 40px;
  white-space: nowrap;
}

.overlay p {
  font-size: 20px;
  font-family: sans-serif;
  line-height: 1.5;
  padding-top: 6px;
}

.card:hover .overlay {
  opacity: 1;
}

.card:hover {
  transform: rotate3d(1,50,3,20deg);
}

.green-end {
  height: 35vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:linear-gradient(to left bottom,#2a9e30, #c9ff33);
}

.green-end h4 {
  font-size: 30px;
  color: #000;
  text-align: center;
  line-height: 1.2;
}

.green-end img {
  height: 100%;
  object-fit: cover;
  width: 12%;
}

/* ----------page 3-------------------------- */

#page3 {
  height: 100vh;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#page3>p {
  font-size: 28px;
  width: 55%;
  text-align: center;
  line-height: 1.3;
}

#page3 img {
  position: absolute;
  height: 60px;
}

#page3 #colony-1 {
  left: 12%;
  top: 20%;
}

#page3 #colony-2 {
  right: 12%;
  bottom: 20%;
}

/* ---------------Page 4------------------------- */

#page4 {
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  position: relative;
}

.elem {
  height: 40%;
  width: 27%;
  overflow: hidden;
  border-radius: 13px;
  position: relative;
}

.elem h2 {
  height: 100%;
  width: 100%;
  background-color: #c9ff33;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: #000;
  position: absolute;
  z-index: 10;
  transition: all ease 0.4s;
}

.elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  scale: 1.1;
  transition: all ease 0.4s;
}

.elem:hover h2 {
  color: #fff;
  background-color: transparent;
}

.elem:hover img {
 scale: 1;
}

#page4 h1 {
  font-size: 80px;
  position: absolute;
  top: 8%;
  color: #000;
  -webkit-text-stroke: 2px #fff;
  font-family: sans-serif;
}

/* ---------------footer----------------- */


#footer {
  height: 40vh;
  width: 100%;
  background: linear-gradient(to left bottom, #119f3a 0%, #a3d421 80%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6.5vw;
  padding: 0 100px;
}
#footer > img {
  position: absolute;
  left: 0;
  height: 100%;
  z-index: 0;
}
#f1 img {
  height: 100px;
}
#f1,
#f2,
#f3,
#f4 {
  width: fit-content;
  position: relative;
  z-index: 99;
}
#f2 h3 {
  font-size: 1.6vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 900;
  margin-bottom: 8px;
}

#f3 h3 {
  font-size: 1.6vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 800;
  margin-bottom: 8px;
}
#f4 h4 {
  font-size: 1vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 8px;
}